

.insta-fun-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    font-size: 100%;
    padding: 0xp 20px;
}

.insta-fun{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 3px;
  /* color: #333; */
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
   cursor: pointer;
}

.insta-fun:hover, .nav-link.active {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: white;
  transform: translateY(-2px);
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
}
/* for mobile responsive */



sup{
  font-size: 13px;
}

@media (max-width: 768px) {

    .insta-fun-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
    font-size: 100%;
    
   
}

.my-flex{
  display: flex;
  flex-direction: column;
}

   
    .insta-fun{
       font-weight: 400;
    padding: 0.1rem 0.1rem;
    gap: 1px;
    }

   sup{
  font-size: 7px;
}
}
